<table class="table table-bordered">
  <thead>
    <tr>
      <th>Booking date</th>
      <th>Booking time</th>
      <th>Pickup date</th>
      <th>Pickup time</th>
      <th>Email</th>
      <th>Contact Number</th>
      <th>Start Place</th>
      <th>Destination</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let booking of bookings">
      <td *ngIf="booking.bookingDate != null">
        {{ booking.bookingDate | date }}
      </td>
      <td>{{ booking.bookingTime | date: "shortTime" }}</td>
      <td>{{ booking.pickupDate | date }}</td>
      <td>{{ booking.pickupTime | date: "shortTime" }}</td>
      <td>{{ booking.email }}</td>
      <td>{{ booking.contactNo }}</td>
      <td>{{ booking.startPlace }}</td>
      <td>{{ booking.toPlace }}</td>
    </tr>
  </tbody>
</table>
